<!-- Course name: Web Application Development
Course code:COMP229-008
Assignment: Group Project
Group: 8
Team: STIIMD
Student ID: 301283465, 301246562
Student Name: Melissa Jane Dennis, Sing Cheung Tin
Date:   Jul 12, 2023 -->

<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container">
    <h4 class="navbar-text" style="color: black">Copyright &copy; 2023 ST || MD All Rights Reserved.</h4>
  </div>
</nav>

<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
