<!-- Course name: Web Application Development
Course code:COMP229-008
Assignment: Group Project
Group: 8
Team: STIIMD
Student ID: 301283465, 301246562
Student Name: Melissa Jane Dennis, Sing Cheung Tin
Date:   Jul 12, 2023 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel="stylesheet" href="/Content/stiimd.css" />
  </head>
  <body>

  <nav class="navbar navbar-dark bg-primary" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" style="border-color: black;" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color: black;"></span>
        <span class="icon-bar" style="background-color: black;"></span>
        <span class="icon-bar" style="background-color: black;"></span>
        <span class="icon-bar" style="background-color: black;"></span>
      </button>
      <a class="navbar-brand" style="color: black;" href="/"><i class="fa fa-shopping-cart"></i> Products</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if(title == "home") { %>
          <li class="active"><a href="/"><i class="fa fa-home fa-dark">
          </i> Home</a></li>
        <% } else { %>
          <li><a href="/" style="color: black;"><i class="fa fa-home fa-dark">
          </i> Home</a></li>
        <% } %>
        <% if(title == "products") { %>
        <li class="active"><a href="/products"><i class="fa fa-shopping-cart fa-dark">
        </i> Products</a></li>
        <% } else { %>
          <li><a href="/products" style="color: black;"><i class="fa fa-shopping-cart fa-dark">
          </i> My Products </a></li>
        <% } %>
        <% if (title == 'other' && typeof authenticated !== 'undefined' && authenticated) { %>    <!-- hidden page requires auth-->
          <li class="'active"><a href="/products/add" class="btn btn-primary"><i class="fa fa-plus"></i>Add Product</a>
        <% } %>
        <% if (typeof authenticated !== 'undefined' && authenticated) { %>    <!-- hidden page requires auth-->
          <li><a href="/" style="color: black;"><i class="fa fa-shopping-cart fa-dark">
          </i>Sign Out</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
