/* Course name: Web Application Development
Course code:COMP229-008
Assignment: Group Project
Group: 8
Team: STIIMD
Student ID: 301283465, 301246562
Student Name: Melissa Jane Dennis, Sing Cheung Tin
Date:   Jul 12, 2023 */

body, html {
    height: 100%;
    margin: 0;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("./../Images/inventory.png");
    height: 80%;
    width:100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: -17%;
    left: 50%;

    transform: translate(-50%);
    color: black;


    
}