<!-- Course name: Web Application Development
Course code:COMP229-008
Assignment: Group Project
Group: 8
Team: STIIMD
Student ID: 301283465, 301246562
Student Name: Melissa Jane Dennis, Sing Cheung Tin
Date:   Jul 12, 2023 -->

<% include ../partials/header.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h1>Sign In</h1>
          <br>

          <% if (error) { %> <!-- Use the "error" variable from the template -->
            <div class="alert alert-danger" role="alert">
              Incorrect user ID or password. Please try again.
            </div>
          <% } %>

          <form method="POST" autocomplete="off">
            <fieldset class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control"
                name="username" placeholder="Enter username"
                id="username" required autofocus>
            </fieldset>

            <fieldset class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control"
                name="password" placeholder="Enter password"
                id="password" required>
                or
                <a href="/register">Register Here</a>
            </fieldset>

            <fieldset class="form-group text-right">
  
              <input type="submit" class="btn btn-success" value="Login">
                <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel">
                </a>
            </fieldset>
        </div>
        <div class="col-md-offset-1 col-md-10 text-center">
          <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>