<% include ../partials/header.ejs %>


    <div class="hero-image">
      <div class="hero-text">
        <h3>Welcome to STIIMD Smartphone Online Shopping!!</h3>
        <!-- <button>Click to Shopping</button> -->
        <button onclick="window.location.href='/list'">Click to Shopping</button>
        <button onclick="window.location.href='/products'">My Products</button>
      </div>
    </div>


<% include ../partials/footer.ejs %>


