<!-- Course name: Web Application Development
Course code:COMP229-008
Assignment: Group Project
Group: 8
Team: STIIMD
Student ID: 301283465, 301246562
Student Name: Melissa Jane Dennis, Sing Cheung Tin
Date:   Jul 12, 2023 -->

<% include ../partials/header.ejs %>

    <div class="hero-image">
      <div class="hero-text">
        <h3>Welcome to ST || MD Product Inventory System</h3>
        <button class="btn btn-primary" onclick="window.location.href='/products'">Sign In</button>
        <button class="btn btn-primary" onclick="window.location.href='/register'">Register</button>
      </div>
    </div>

<% include ../partials/footer.ejs %>


